<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{ modal_id }}">Send email to group</h4>
      </div>
      <form action="." method="post" enctype="multipart/form-data">
      <div class="modal-body">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-12">
            <select name="group">
              {% for group in groups %}
                <option value="{{ group.pk }}">{{ group.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="hidden" name="email" value="{{ email.pk }}"/>
        <input type="submit" class="btn btn-primary" value="Send"/>
      </div>
    </form>
  </div>
</div>
