{% load mailer %}

<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{ modal_id }}">
          {% if email %}
            Edit email
          {% else %}
            Add email
          {% endif %}
        </h4>
      </div>
      <form action="." method="post" enctype="multipart/form-data">
        <div class="modal-body">
          {% csrf_token %}
          {% if email %}
            <input type="hidden" name="pk" value="{{ email.pk }}"/>
          {% endif %}
          <h6>General</h6>
          <div class="row">
            <div class="col-xs-4">
              <input type="text" class="form-control" name="name" placeholder="Name" value="{{ email.name }}" />
            </div>
            <div class="col-xs-4">
              <input type="text" class="form-control" name="subject" placeholder="Subject" value="{{ email.subject }}" />
            </div>
            <div class="col-xs-4">
              <input type="email" class="form-control" name="from_email" placeholder="From" value="{{ email.from_email }}" />
            </div>
          </div>
          <h6>Template</h6>
          <div class="row">
            <div class="col-xs-12">
              <input type="file" class="form-control" name="template" placeholder="From" />
            </div>
          </div>
          {% if email %}
            <br/>
            <div class="row">
              <div class="col-xs-12">
                <div class="jumbotron">
                  <div class="jumbotron-contents">
                    <iframe src="{% url 'email_preview' email.pk %}" style="border:0; width:100%; height:300px;"></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                {% for field in email.fields.all %}
                    <div class="input-group">
                      <span class="input-group-addon">{{ field.name }}</span>
                      <input type="text" class="form-control" name="fields_{{ field.name }}" value="{{ field.value|none }}" placeholder="{{ field.name }}" />
                    </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          {% if email %}
            <input type="submit" class="btn btn-warning" name="test_send" value="Save and test"/>
          {% endif %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes"/>
        </div>
      </form>
    </div>
  </div>
</div>
