<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{ modal_id }}">
          {% if recipient %}
            Edit recipient
          {% else %}
            Add recipient
          {% endif %}
        </h4>
      </div>
      <form action="." method="post">
        <div class="modal-body">
            {% csrf_token %}
            {% if recipient %}
              <input type="hidden" name="pk" value="{{ recipient.pk }}"/>
            {% endif %}
            <h6>General</h6>
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" name="name" placeholder="Name" value="{{ recipient.name }}" />
              </div>
              <div class="col-xs-6">
                <input type="email" class="form-control" name="email" placeholder="E-mail" value="{{ recipient.email }}" />
              </div>
            </div>
            <h6>Groups</h6>
            <div class="row">
              <div class="col-xs-12">
                <select multiple="true" name="groups">
                  {% for group in groups %}
                    {% if group in recipient.groups.all %}
                      <option value="{{ group.name }}" selected="selected">{{ group.name }}</option>
                    {% else %}
                      <option value="{{ group.name }}">{{ group.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes"/>
        </div>
      </form>
    </div>
  </div>
</div>
