{% extends 'app.html' %}

{% block content %}

<h2>Recipients</h2>

<div class="well">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recipientAdd">Add</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Bulk add</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>email</th>
    </tr>
    {% for recipient in recipients %}
      <tr>
        <td>{{ recipient.name }}</td>
        <td>{{ recipient.email }}</td>
        <td>
          <a class="badge badge-primary" data-toggle="modal" data-target="#{{ 'recipientedit'|add:recipient.email|slugify }}"><i class="glyphicon glyphicon-pencil"></i></a>
          <a class="badge badge-danger" data-toggle="modal" data-target="#{{ 'recipientdelete'|add:recipient.email|slugify }}"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
      {% with 'recipientedit'|add:recipient.email|slugify as modal_id %}
        {% include "fragments/recipient_modal.html" %}
      {% endwith %}
      {% with modal_id='recipientdelete'|add:recipient.email|slugify input_value=recipient.pk title='Delete recipient' %}
        {% include "fragments/confirm_modal.html" %}
      {% endwith %}
    {% endfor %}
  </table>
</div>

{% with 'recipientAdd' as modal_id %}
  {% include "fragments/recipient_modal.html" %}
{% endwith %}
{% with 'recipientBulkAdd' as modal_id %}
  {% include "fragments/recipient_bulkadd.html" %}
{% endwith %}

{% endblock content %}
